<a href="https://colab.research.google.com/github/Topaz42/Repository1/blob/main/Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as p1 
data = (['P','R','E','M'])
s=p1.Series(data,index= [10,11,12,13]) 
print(s)

In [ ]:
#create a series from dataframe
import pandas as pd1
data = {'P': 0., 'R': 1., 'E': 2.,'M': 2.}
s=pd1.Series(data,index=['b','c','d','a'])
print(s)

In [ ]:
import pandas as pd
l1={'P': 0, 'R': 1, 'E': 2,'M': 3} 
df=pd.DataFrame(l1,index=[9,8,7,6])
print(df)

In [ ]:
#scalar value
import pandas as pd1
s = pd1.Series(5, index=[0, 1, 2, 3])
print(s)

In [ ]:
#adding and multiplying series
import pandas as pd
s = pd.Series([1, 2, 3]) 
t = pd.Series ([1, 2, 4]) 
u1=s+t #addition operation 
u2=s*t # multiplication operation
print(u1) 
print(u2)

In [ ]:
#heads and tails function
import pandas as pd1
s=pd1.Series([1, 2, 3, 4, 5],index =['a','b','c','d','e'])
print (s.head (3))#only first 3
print (s.tail (3)) #only last 3

print (s.head (-3))#all except last 3
print (s.tail (-3)) #all except first 3

In [ ]:
#acessing data: indexing and slicing  
import pandas as pd1
s = pd1.Series([1, 2, 3, 4, 5],index = ['p','r','e','m','e'])
print(s)

print (s[0]) # for 0 index position Marks
print('*************')
print (s[:3]) #for first 3 index values
print (s[1:-3])
print (s[-3:])  # slicing for last 3 index values
print (s[::2]) #range is of 2

In [ ]:
import pandas as pd
s= pd.Series ([49,48,47,46,45, 1, 2, 3, 4, 5]) 
print(s.iloc[:3]) # slice the first three rows

In [ ]:
#Dataframe From Lists
import pandas as pd1
data1 = [['Freya',10],['Mohak',12],['Dwivedi',13]]
df1 = pd1.DataFrame(data1,columns=['Name','Age']) 
print (df1)

      Name  Age
0    Freya   10
1    Mohak   12
2  Dwivedi   13

In [ ]:
#Create a DataFrame from Dictionary of Lists
import pandas as pd
data1 = {'Name': ['Freya','Mohak'],'Age':[9,10]}
df = pd.DataFrame(data1) 
print (df)

    Name  Age
0  Freya    9
1  Mohak   10

In [ ]:
#Create a DataFrame from List of Dictionaries
import pandas as pd 
l1 = [{'x': 1, 'y': 2}, {'x': 5, 'y': 4}]
df = pd.DataFrame(l1)
print (df)

   x  y
0  1  2
1  5  4

In [ ]:
#Create a DataFrame from Dict of Series 
import pandas as pd 
d1={'series1': pd.Series([1, 2, 3, 4], index= ['a','b', 'c','d']),
    'series2': pd.Series([10, 20, 30, 40], index= ['a', 'b','c', 'd'])}
df=pd.DataFrame(d1) 
print(df)

   series1  series2
a        1       10
b        2       20
c        3       30
d        4       40

In [ ]:
#Creating a dataframe from Dictionary of Series
import pandas as pd 
l1 = [{'x': 1, 'y': 2}, {'x': 5, 'y': 4}]
df = pd.DataFrame(l1)
print (df) 
print ('*******')
#Selecting a column
print (df ['x'])

   x  y
0  1  2
1  5  4
*******
0    1
1    5
Name: x, dtype: int64

In [ ]:
#Adding a new column
df=pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})

# Declare a list that is to be converted into a column
new_list=[7,8,9] 
# Using 'Address' as the column name
# and equating it to the list
df['C']=new_list

#Adding a new column by using the other columns
df['D']=df['A']+df['B']+df['C']

print(df)

   A  B  C   D
0  1  4  7  12
1  2  5  8  15
2  3  6  9  18

In [ ]:
#Deleting a Column
import pandas as pd
df=pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
del df['A']
df.pop('B')
print(df)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [ ]:
#Renaming a column
import pandas as pd
df=pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
print(df.rename(columns= {"A": "X", "B": "Y"}))

   X  Y
0  1  4
1  2  5
2  3  6

In [ ]:
#Selection by Label
import pandas as pd
d1 = {'one': pd.Series([1, 2, 2], index= ['A', 'B','C']),
      'two': pd.Series([10, 20, 30], index= ['A', 'B', 'C'])}
df=pd.DataFrame(d1)

print(df)

print(df.loc['A':'B'])#name of index from that row

print(df.iloc[0])#index-value of that row

print(df.iloc[0:3:2])#index-value of that row with range

   one  two
A    1   10
B    2   20
C    2   30
   one  two
A    1   10
B    2   20
one     1
two    10
Name: A, dtype: int64
   one  two
A    1   10
C    2   30

In [ ]:
#Addition of Rows
import pandas as pd
df1 = pd.DataFrame([[1, 2], [3, 4]],index = ['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]],index = ['a', 'b'])
df1 = df.append(df2)
print(df1)

   one   two    0    1
A  1.0  10.0  NaN  NaN
B  2.0  20.0  NaN  NaN
C  2.0  30.0  NaN  NaN
a  NaN   NaN  5.0  6.0
b  NaN   NaN  7.0  8.0

In [ ]:
#Iterate over rows in a DataFrame 
import pandas as pd1
raw_data1 = {'name': ['freya', 'mohak'],'age': [10, 1],'favorite_color': ['pink', 'blue'], 'grade': [88, 92]}
df1 = pd1.DataFrame(raw_data1, columns = ['name', 'age','favorite_color', 'grade'])
for index, row in df1.iterrows():
  print(row["name"],row["age"])

freya 10
mohak 1

In [ ]:
#Indexing a DataFrame using .loc[ ]: ????????????
import pandas as pd
df = pd.DataFrame((8, 4), index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], columns = ['A', 'B','C', 'D'])

print(df.loc[:'A'])

In [ ]:
#Accessing a DataFrame with a Boolean Index
import pandas as pd 
dict = {'name': ['Mohak', 'Freya', 'Roshni'],'degree': ["MBA", "BCA", 'M.Tech'],'score': [90, 40, 80]}

# creating a dataframe with boolean index
df = pd.DataFrame(dict, index = [True, False, True])

#it will return rows of Mohak and Roshni only (matching true only)
print(df.loc [True])

In [ ]:
#Binary operation over dataframe with series
df = pd.DataFrame({0: [1,2,3],1: [4,5,6], 2: [7,8,9] }) 
s1 = pd.Series([1, 2, 3])
new_x = df.add(s1, axis=0)
print(new_x)

In [ ]:
#Export Pandas DataFrame to a CSV File
import pandas as pd 
d1 = {'Brand': ['Honda Civic','Toyota Corolla', 'Ford Focus','AudiA4'],'Price': [22000,25000,27000,35000]}
df = pd.DataFrame(d1)

df.to_csv ('D:\export_dataframe.csv')

print (df) #csv file will be created in specified file location with specified name

In [ ]:
#read_csv function: 
import pandas as pd 
data = pd.read_csv("D:\export_dataframe.csv") 
print(data)

   Unnamed: 0           Brand  Price
0           0     Honda Civic  22000
1           1  Toyota Corolla  25000
2           2      Ford Focus  27000
3           3          AudiA4  35000